# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

## .gitignore for intellij
*.iml
*.ipr
*.iws
.idea/

#.gitignore for java
*.class

# .gitignore for maven
target/

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*
.log/
*.log/

# node
/node
/node_modules/